<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/liu-stanley/">
    <i class="material-icons">
      link
    </i> <span>Linkedin</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>

  <a class="card" target="_blank" rel="noopener" href="https://www.facebook.com/stan.liu.902">
    <i class="material-icons">
      face
      </i>
    <span>Facebook</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://instagram.com/stanliest">
    <i class="material-icons">
      camera_alt
      </i>
    <span>Instagram</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://github.com/stanliest">
    <i class="material-icons">
      computer
      </i>
    <span>Github</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
  </a>

</div>