<style>
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  canvas {
    position: absolute;
    top: 240;
    left: 10;
    border: 2px solid rgba(27, 226, 9, 0.781);
  }

  /* display top 10 score leaders */

  #scorename li:nth-of-type(1n+11) {
    display: none;
  }

  #scorelist li:nth-of-type(1n+11) {
    display: none;
  }

  /* remove bullet point */

  ul {
    list-style-type: none;
  }

  li {
    margin: 10px 0;
  }
</style>

<div class="snakeGame">
  <h1>Snake Game</h1>

  <p> Navigate using arrow keys. Red: fruit, purple: poison</p>

  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

  <script>
    // initialize firebase
    var config = {
      apiKey: "AIzaSyA_nMAjQGfaP24GRSytt6QriVkx4qiP8EU",
      authDomain: "snakegame-a2625.firebaseapp.com",
      databaseURL: "https://snakegame-a2625.firebaseio.com",
      projectId: "snakegame-a2625",
      storageBucket: "snakegame-a2625.appspot.com",
      messagingSenderId: "238509954340"
    };
    firebase.initializeApp(config);
  </script>

  <script src="snakeGame.js"></script>
  <script src="sortList.js"></script>


  <button id="restartBtn" onclick="canvasRestart()">Restart</button>
  <button id="startBtn" onclick="main()">Start</button>

  <!-- create score name -->
  <div style="position: absolute; margin-top:30px; margin-left:700px;">
    <p>
      <ul id="scorename"></ul>
    </p>
  </div>
  <!-- create score list -->
  <div style="position: absolute; margin-top:30px; margin-left:550px;">
    <p>
      <ol id="scorelist"></ol>
    </p>
  </div>

  <script>
    // hide scoreboard at the beginning
    document.getElementById("scorename").style.display = "none";
    document.getElementById("scorelist").style.display = "none";
  </script>

  <!-- counter -->
  <div style="position: absolute; margin-top:0px; margin-left:550px;">
    <hX>Page visit:</hX>
    <a href="http://www.amazingcounters.com">
      <img border="0" src="http://cc.amazingcounters.com/counter.php?i=3223899&c=9672010" alt="AmazingCounters.com">
    </a>
  </div>

  <!-- reference -->
  <p style="position: absolute; margin-top:540px; margin-left:10px;">
    Based on a
    <a href="https://www.youtube.com/watch?v=uU5YPIvJ24Y">youtube video</a>
  </p>

</div>