<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/liu-stanley/">
    <img src="../assets/icons/linkedin.svg" alt="linkedin svg" width="30" height="30" viewBox="0 0 30 30" />
    <span>Linkedin</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>

  <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
    <img src="../assets/icons/facebook.svg" alt="linkedin svg" width="30" height="30" viewBox="0 0 30 30" />

    <span>Facebook</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
    <img src="../assets/icons/instagram.svg" alt="linkedin svg" width="30" height="30" viewBox="0 0 30 30" />

    <span>Instagram</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
    <img src="../assets/icons/github.svg" alt="linkedin svg" width="30" height="30" viewBox="0 0 30 30" />

    <span>Github</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
  </a>

</div>