h1 {
  font-family: 'Gloria Hallelujah';
  margin: 16px;
  color: rgb(30, 55, 198);
  font-size: 40px;
}

a {
  border: 1px solid #eee;
  background-color: #edecec;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin: 40px;
}